<!-- Google CSE Search Box Begins -->
<form id="searchbox_000059552786512968692:wdabtgn6c74" action="http://www.google.com/cse">
	<div>
		<input type="hidden" name="cx" value="000059552786512968692:wdabtgn6c74" />
		<input type="hidden" name="cof" value="FORID:0" />
		<input type="hidden" name="ie" value="utf-8" />
		<label for="sb">prohledat:</label>
		<input name="q" id="sb" type="text" size="12" />
		<input name="sa" id="ssb" type="submit" value="Vyhledat" />
 	</div>
 </form>
<!-- Google CSE Search Box Ends -->
